* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:cursive;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
 
}
.container {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

.initial {
  border-radius: 10px;
  box-shadow: 2px  2px 6px#333;
  padding: 1em;
  transition: .3s;
  animation: .4s animOpac ease-in-out;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 0 10px #00d9ff06,
  0 0 4px aqua,
  0 0 20px #1f1f1f;
  z-index: 100;
}

.count-area {
  border-radius: 10px;
  padding: 2em;
  display: none;
  z-index: 100;
  animation: .4s animOpac ease-in-out;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 0 10px #00d9ff06,
  0 0 4px aqua,
  0 0 20px #1f1f1f;
}

@keyframes animOpac {
  0% {opacity: 0;}
}

.placar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  gap: 10px;
}

.placar p {
  margin: 0;
}

.score {
  color: #fff;
}

@keyframes scoreAnim {

  0% {
    color: rgb(4, 175, 4);
  }
  70% {
    color: #fff;
  }

  100% {
    color: #fff;
  }
}

.scoreError {
  color: #fff;
}

@keyframes scoreErrAnim {
  0% {
    color: red;
  }
  70% {
    color: #fff;
  }

  100% {
    color: #fff;
  }
}
.timer {
  animation: timerAnim ease-in-out 2s;
  /* transition-delay: 1s; */
}

.placar p:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

  button {
    font-size: 16px;
    background-color: #111;
    box-shadow: 0 0 0 10px #00d9ff06,
    0 0 2px #00d9ff,
    0 0 17px #00d9ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 0;
    padding: 10px 20px;
    margin: 0 10px;
    transition: .3s;
  }

  button:hover {
    background-color: black;
    color: aqua;
    box-shadow: 0 0 0 10px #00d9ff06,
    0 0 2px #00d9ff,
    0 0 20px #00d9ff;
  }

  input {
    border: none;
    border-bottom: 1px solid #222;
    outline: 0;
    text-align: center;
    font-size: 1.5em;
    width: 20%;
    transition: .3s;
    background: none;
  }

  input:focus {
    width: 25%;
  }

  .count-div {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .number {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 10px 0 0 0;
  }
  
  @keyframes shakeN {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  /* jump */
  .btn-jump {
    display: none;
    transition: 1s;
    animation: jumpAnimation 5s ease-in-out;
    position: absolute;
    left: 5%;
  }

  @keyframes jumpAnimation {
    0% {
      /* transform: translateX(-50px); */
      opacity: 0;
    }
    5% {
      opacity: 1;
    }

    97% {
      opacity: 1;
    }

    100% {
      /* transform: translateX(0px); */
      opacity: 0;
    }
  }

  .res-animation {
    transition: 1s;
    padding: 10px;
    opacity: 0;
  }

  @keyframes resAnim {
    0% {
      transform: translateY(110px);
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  .contage {
    scale: 2em;
    opacity: 0;
    transition: .3s;
  }

  .respost-animation {
    opacity: 0;
    transition: .3s;
  }

  @keyframes respostAnim {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    10% {
      opacity: 1;
      transform: scale(1.5);
    }

    95% {
      opacity: 1;
      transform: scale(1.5);
    }

    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  .res {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .res-verify {
    margin-bottom: 10px;
  }

  .results-final {
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: 100vh;
    box-shadow: 2px 2px 6px #333;
    padding: 1em;
    border-radius: 10px;
    height: auto;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 0 10px #00d9ff06,
    0 0 4px aqua,
    0 0 20px #1f1f1f;
    z-index: 100;
  }

  .results-final h1 {
    font-size: 1.8em;
  }

  .results-final h3 {
    font-size: 1em;
    text-align: flex-start;
    padding: 5px 0;
  }

  .results-final h5 {
    font-size: .7em;
  }

  /* bolhas */
  .bolhas {
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 70%;
  }
  
  @media (max-width: 600px){

      .todo {
       padding:10px;
      }
  
      button {
        font-size: .8em;
        padding: 3px;
      }
      input {
        padding: 8px;
      }
  
      select {
        padding: 8px;
      }
  
      .todo-container {
        padding: 0;
      }
  
      i{
        margin: 10px;
      }
  
  }
  
  .bolhas span {
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #00d9ff;
    margin: 0 2pc;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #00d9ff06,
    0 0 10px #00d9ff,
    0 0 100px #00d9ff;
    transition: .3s;
    opacity: 0;
    animation: animar 13s calc(150s / var(--i)) linear infinite;
  }
  
  @keyframes animar{
    0% {
        transform: translateY(100vh) scale(0); 
    }
  
    3%{
      opacity: 1;
      transform: translateY(90vh);
    }

    90% {
      transform: translateY(3vh);
    }

    93% {
      transform: translateY(-15vh);
    }
  
    100%{
        transform: translateY(-20vh) scale(2);
        opacity: 1;
    }
  }
  
  .bolhas span:nth-of-type(even) {
    color: #00d9ff;
    background-color: #111;
    box-shadow: 0 0 0 10px #ffffff00,
    0 0 10px #ffffff,
    0 0 100px #ffffff;
  }

  